<p id="notice"><%= notice %></p>

<h1>Products</h1>

<br>

<%= link_to 'New Product', new_product_path %>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <h1><%= product.name %></h1>  
        <p><%= product.description %></p>
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <strong>$ <%= product.price %></strong>
      </div><!-- /col -->
    <% end %>
  </div>
</div>
