<!DOCTYPE html>
<html>
  <head>
    <title>XinLiApp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <%= action_cable_meta_tag %>
  </head>

  <body>
  
  <div class="projectName navbar-brand">
    <a href="#">XIN LI</a>
  </div> <!--end projectName -->
  <div class="navbar-collapse collapse">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="xinliapp.herokuapp.com/static_pages/index">Home</a></li>
        <li><a href="xinliapp.herokuapp.com/static_pages/about">About</a></li>
        <li><a href="xinliapp.herokuapp.com/static_pages/contact">Contact</a></li>
      </ul>
    </nav>
  </div>

    <%= yield %>

  <footer>
      <div class="copyright col-md-6">
          <span class="copyright">Copyright &copy; XIN LI, 2016</span>
      </div>
      <div class="policy col-md-6">
          <li><a href="#">Privacy Policy</a></li>
      </div>
  </footer><!--Footer End-->

  </body>
</html>
